body {
    font-family: var(--font-dm-sans);
    background-color: #000;
}

h1{
    color: #fff;
}

.logo img{
    width: 80px;
    
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 10px 0 0 16px;
    margin-left: -11px;
}

.sidebar ul li{
    padding: 10px 0;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 15px 12px;
}

.sidebar nav ul li{
    padding: 10px 0;
}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.library{
    width: 282px;
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 185px;
    margin-left: 13px;
}

.library .library_content{
    display: flex;
    justify-content: space-between;
}

.library .library_button{
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library_content .fa-plus{
    margin: 24px 10px;
}

.library .library_button .fa-book{
    font-size: 20px;
    margin-right: 10px;
    padding-right: 8px;
}

.section_playlist{
    display: flex;
    background-color: #242424;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section_playlist .section_playlist_content{
    display: flex;
    flex-direction: column;
}

.section_playlist_content .text{
    padding-bottom: 14px; ;
    color: #fff;
}

.section_playlist_content .title{
    font-weight: 700;
}

.section_playlist_content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section_playlist_content .section_playlist_button{
    background-color:#fff ;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration:none;
    text-transform: none;
    padding: 10px;
    width: 113px;
    border: 0;
    margin-top: 10px;
}

.cookies{
    margin: 25px 20px;
}

.cookies a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.cookies a:hover{
    text-decoration: underline;
}

.languages_button{
    background-color: transparent;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
    width: 170px;
    border: 1px solid #878787;
    border-radius: 20px;
    color: #fff;
    cursor:pointer;
}

.disclaimer{
    display: flex;
    justify-content: space-between;  
    position: fixed;
    padding: 15px 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right,#ac048d, #084999);
}

.disclaimer .disclaimer_text{
    color: #fff;
}

.disclaimer .disclaimer_text .disclaimer_title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 9px;
}  
.disclaimer .disclaimer_text .disclaimer_subtitle{
    font-size: 12px;
    font-weight: 500;

}  

.disclaimer button{
    font-size: 14px;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    color: #000000;
    font-weight: 750;
    border: none;
}